In [141]:
import math
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

import collections
from scipy.stats.stats import pearsonr
import pandas as pd
import os

In [72]:
# load of the data
DATASET_DIR = "dataset" + os.path.sep
df_tennis = pd.read_csv(DATASET_DIR + 'tennis_matches.csv', sep=',', index_col=0) 

# index_col=False say to not use the first column as ID
df_male = pd.read_csv(DATASET_DIR + 'male_players.csv', sep=',', index_col=False)
df_female = pd.read_csv(DATASET_DIR + 'female_players.csv', sep=',', index_col=False)

## Print some records of the datasets

In [21]:
df_tennis.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_entry,winner_name,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_spectators,tourney_revenue
0,2019-M020,Brisbane,Hard,32.0,A,20181231.0,300.0,105453.0,NaN,Kei Nishikori,...,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0,3928.0,742618.69
1,2019-M020,Brisbane,Hard,32.0,A,20181231.0,299.0,106421.0,NaN,Daniil Medvedev,...,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0,3928.0,742618.69
2,2019-M020,Brisbane,Hard,32.0,A,20181231.0,298.0,105453.0,NaN,Kei Nishikori,...,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0,3928.0,742618.69
3,2019-M020,Brisbane,Hard,32.0,A,20181231.0,297.0,104542.0,PR,Jo-Wilfried Tsonga,...,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0,3928.0,742618.69
4,2019-M020,Brisbane,Hard,32.0,A,20181231.0,296.0,106421.0,NaN,Daniil Medvedev,...,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0,3928.0,742618.69

In [22]:
df_male.head()

             name   surname
0         Gardnar    Mulloy
1          Pancho    Segura
2           Frank   Sedgman
3        Giuseppe     Merlo
4  Richard Pancho  Gonzales

In [23]:
df_female.head()

      name surname
0    Bobby   Riggs
1        X       X
2  Martina  Hingis
3  Mirjana   Lucic
4  Justine   Henin

## Missing values: Null

In [24]:
#info about data that we have for male
df_male.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55208 entries, 0 to 55207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     55031 non-null  object
 1   surname  55165 non-null  object
dtypes: object(2)
memory usage: 862.8+ KB

In [25]:
#number of null in the columns
df_male.isnull().sum(axis = 0)

name       177
surname     43
dtype: int64

So, the male dataframe has 2 columns: name and surname. It has 55208 entries and about 200 null values in total.

In [26]:
#info about data that we have for female
df_female.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46172 entries, 0 to 46171
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     44505 non-null  object
 1   surname  46172 non-null  object
dtypes: object(2)
memory usage: 721.6+ KB

In [37]:
#number of null in the columns
df_female.isnull().sum(axis = 0)

name       1667
surname       0
dtype: int64

So, the female dataframe has 2 columns: name and surname. It has 46172  entries and 1667 null values in the name, but the surname is never null.

In [27]:
df_tennis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186128 entries, 0 to 186127
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          186073 non-null  object
 1   tourney_name        186103 non-null  object
 2   surface             185940 non-null  object
 3   draw_size           186099 non-null  float64
 4   tourney_level       186099 non-null  object
 5   tourney_date        186100 non-null  float64
 6   match_num           186101 non-null  float64
 7   winner_id           186073 non-null  float64
 8   winner_entry        25827 non-null   object
 9   winner_name         186101 non-null  object
 10  winner_hand         186082 non-null  object
 11  winner_ht           49341 non-null   float64
 12  winner_ioc          186099 non-null  object
 13  winner_age          183275 non-null  float64
 14  loser_id            186100 non-null  float64
 15  loser_entry         44154 non-null   object
 16  loser_name          186097 non-null  object
 17  loser_hand          186030 non-null  object
 18  loser_ht            38348 non-null   float64
 19  loser_ioc           186102 non-null  object
 20  loser_age           179590 non-null  float64
 21  score               185929 non-null  object
 22  best_of             186099 non-null  float64
 23  round               186098 non-null  object
 24  minutes             81660 non-null   float64
 25  w_ace               82310 non-null   float64
 26  w_df                82312 non-null   float64
 27  w_svpt              82310 non-null   float64
 28  w_1stIn             82310 non-null   float64
 29  w_1stWon            82312 non-null   float64
 30  w_2ndWon            82309 non-null   float64
 31  w_SvGms             82311 non-null   float64
 32  w_bpSaved           82315 non-null   float64
 33  w_bpFaced           82312 non-null   float64
 34  l_ace               82313 non-null   float64
 35  l_df                82319 non-null   float64
 36  l_svpt              82315 non-null   float64
 37  l_1stIn             82304 non-null   float64
 38  l_1stWon            82311 non-null   float64
 39  l_2ndWon            82312 non-null   float64
 40  l_SvGms             82318 non-null   float64
 41  l_bpSaved           82311 non-null   float64
 42  l_bpFaced           82306 non-null   float64
 43  winner_rank         166719 non-null  float64
 44  winner_rank_points  166701 non-null  float64
 45  loser_rank          150845 non-null  float64
 46  loser_rank_points   150828 non-null  float64
 47  tourney_spectators  186101 non-null  float64
 48  tourney_revenue     186102 non-null  float64
dtypes: float64(35), object(14)
memory usage: 71.0+ MB

In [41]:
#we see if the attributes have some null values
df_tennis.isnull().any()

tourney_id            True
tourney_name          True
surface               True
draw_size             True
tourney_level         True
tourney_date          True
match_num             True
winner_id             True
winner_entry          True
winner_name           True
winner_hand           True
winner_ht             True
winner_ioc            True
winner_age            True
loser_id              True
loser_entry           True
loser_name            True
loser_hand            True
loser_ht              True
loser_ioc             True
loser_age             True
score                 True
best_of               True
round                 True
minutes               True
w_ace                 True
w_df                  True
w_svpt                True
w_1stIn               True
w_1stWon              True
w_2ndWon              True
w_SvGms               True
w_bpSaved             True
w_bpFaced             True
l_ace                 True
l_df                  True
l_svpt                True
l_1stIn               True
l_1stWon              True
l_2ndWon              True
l_SvGms               True
l_bpSaved             True
l_bpFaced             True
winner_rank           True
winner_rank_points    True
loser_rank            True
loser_rank_points     True
tourney_spectators    True
tourney_revenue       True
dtype: bool

In [44]:
#since all the attributes has missing values, we count them
df_tennis.isnull().sum(axis = 0)

tourney_id                55
tourney_name              25
surface                  188
draw_size                 29
tourney_level             29
tourney_date              28
match_num                 27
winner_id                 55
winner_entry          160301
winner_name               27
winner_hand               46
winner_ht             136787
winner_ioc                29
winner_age              2853
loser_id                  28
loser_entry           141974
loser_name                31
loser_hand                98
loser_ht              147780
loser_ioc                 26
loser_age               6538
score                    199
best_of                   29
round                     30
minutes               104468
w_ace                 103818
w_df                  103816
w_svpt                103818
w_1stIn               103818
w_1stWon              103816
w_2ndWon              103819
w_SvGms               103817
w_bpSaved             103813
w_bpFaced             103816
l_ace                 103815
l_df                  103809
l_svpt                103813
l_1stIn               103824
l_1stWon              103817
l_2ndWon              103816
l_SvGms               103810
l_bpSaved             103817
l_bpFaced             103822
winner_rank            19409
winner_rank_points     19427
loser_rank             35283
loser_rank_points      35300
tourney_spectators        27
tourney_revenue           26
dtype: int64

We can notice that some attributes have very few null values, but other attributes has more than 50% of null values

## Duplicate data

In [46]:
#we see if there are duplicates in the dataset male and female
df_male.duplicated(keep='first').sum()

524

In [14]:
df_female.duplicated(keep='first').sum()

511

So, both the datasets of male and female has rows with same name and surname. These rows can be duplicates (so they correspond to the same person) or they can be homonyms. In this latter case we cannot distinguish the matches of one player by the ones of the other player.

In [15]:
#we remove (only) the duplicated rows
df_male = df_male.drop_duplicates()
df_female = df_female.drop_duplicates()

In [16]:
#see if a name can be both male and female and manage them
df_players = pd.concat([df_male, df_female])
df_players[df_players.duplicated(keep='first')==True]

        name   surname
0      Bobby     Riggs
417    Robin     White
2687      Di      Zhao
3660       J     Tobin
3918      Yi       Liu
...      ...       ...
44222    NaN   Beckert
45538      J   Lambert
45597      J     Young
45658      M     Noble
45679      M  Hamilton

[74 rows x 2 columns]

In [17]:
df_players.duplicated(keep='first').sum()

74

So, there are 74 names for both players male and female.

In [18]:
df_players[df_players.duplicated(subset=['name', 'surname'], keep='first')==True]

        name   surname
0      Bobby     Riggs
417    Robin     White
2687      Di      Zhao
3660       J     Tobin
3918      Yi       Liu
...      ...       ...
44222    NaN   Beckert
45538      J   Lambert
45597      J     Young
45658      M     Noble
45679      M  Hamilton

[74 rows x 2 columns]

In [19]:
#check if there are duplicated rows in the dataset
df_tennis.duplicated(keep='first').sum()

309

In [20]:
#we remove these duplicates because they contain the same information
df_tennis = df_tennis.drop_duplicates()

## Noise, outliers and data quality (data visualization here)

In [21]:
#Values in the columns with type object
for column in df_tennis.columns:
    if df_tennis[column].dtypes == "object":
        print("Distinct Values in "+str(column)+": \n", df_tennis[column].unique(), "\n")

Distinct Values in tourney_id:
 ['2019-M020' '2019-0451' '2019-0891' ... '2020-W-ITF-USA-47A-2020'
 '2020-W-ITF-USA-48A-2020' nan]

Distinct Values in tourney_name:
 ['Brisbane' 'Doha' 'Pune' ... 'W100 Nicholasville KY' 'W25 Las Vegas NV'
 nan]

Distinct Values in surface:
 ['Hard' 'Clay' 'Grass' 'Carpet' nan]

Distinct Values in tourney_level:
 ['A' 'P' 'G' 'I' 'M' 'PM' 'F' 'D' 'C' '15' '25' '60' '100' '80' '10' '50'
 '75' 'O' 'W' nan]

Distinct Values in winner_entry:
 [nan 'PR' 'Q' 'WC' 'Alt' 'LL' 'SE' 'ALT' 'SR' 'JE' 'A' 'ITF' 'P' 'I' 'IR'
 'JR']

Distinct Values in winner_name:
 ['Kei Nishikori' 'Daniil Medvedev' 'Jo-Wilfried Tsonga' ... 'Sultan Gonen'
 'Viktoria Veleva' nan]

Distinct Values in winner_hand:
 ['R' 'L' 'U' nan]

Distinct Values in winner_ioc:
 ['JPN' 'RUS' 'FRA' 'AUS' 'CAN' 'BUL' 'GBR' 'SRB' 'USA' 'LAT' 'CZE' 'EST'
 'UKR' 'NED' 'CRO' 'BLR' 'CHI' 'SUI' 'POL' 'GER' 'LUX' 'ESP' 'ITA' 'GEO'
 'HUN' 'LTU' 'ARG' 'CYP' 'BIH' 'RSA' 'BEL' 'TUN' 'IND' 'BRA' 'AUT' 'POR'
 'NZL' 'URU' 'GRE' 'SVK' 'TPE' 'KAZ' 'PUR' 'KOR' 'ROU' 'MDA' 'SLO' 'CHN'
 'SWE' 'DEN' 'TUR' 'ESA' 'BAR' 'UZB' 'MNE' 'BOL' 'NOR' 'ECU' 'MEX' 'COL'
 'LIE' 'ISR' 'PAR' 'DOM' 'FIN' 'GUA' 'PER' 'INA' 'THA' 'PHI' 'EGY' 'ALG'
 'ZIM' 'PAK' 'MAR' 'HKG' 'IRL' 'LIB' 'SRI' 'VEN' 'MKD' 'PNG' 'SIN' 'GRN'
 'BAH' 'CUB' 'TRI' 'OMA' 'MLT' 'KGZ' 'MAS' 'BDI' 'MRI' 'SAM' 'KEN' 'ARM'
 'NAM' 'REU' 'UNK' 'MON' 'HAI' 'VIE' 'HON' 'PAN' 'CRC' 'SGP' 'TJK' 'POC'
 'IRI' 'PHL' 'MGL' 'GUM' 'GAB' 'NGR' 'GUD' 'CAM' 'CMR' 'KUW' 'MAD' 'DEU'
 'AND' 'NLD' 'NGA' 'GRC' nan]

Distinct Values in loser_entry:
 [nan 'PR' 'Q' 'LL' 'WC' 'Alt' 'A' 'SE' 'ALT' 'SR' 'JE' '3' '4' '6' 'ITF'
 'I' 'P' 'J' 'IR' 'JR']

Distinct Values in loser_name:
 ['Daniil Medvedev' 'Jo-Wilfried Tsonga' 'Jeremy Chardy' ... 'Amy Huang'
 'Chloe Henderson' nan]

Distinct Values in loser_hand:
 ['R' 'L' 'U' nan]

Distinct Values in loser_ioc:
 ['RUS' 'FRA' 'AUS' 'CAN' 'JPN' 'BUL' 'GBR' 'SRB' 'USA' 'ARG' 'SLO' 'GER'
 'ESP' 'ROU' 'KAZ' 'CZE' 'BEL' 'SVK' 'NED' 'UKR' 'LAT' 'EST' 'BLR' 'CRO'
 'CHI' 'SUI' 'POL' 'LUX' 'ITA' 'GEO' 'HUN' 'LTU' 'BIH' 'QAT' 'TUR' 'AUT'
 'CYP' 'TUN' 'IND' 'KOR' 'UZB' 'MDA' 'BRA' 'POR' 'TPE' 'ESA' 'NZL' 'URU'
 'GRE' 'PUR' 'RSA' 'CHN' 'THA' 'SWE' 'DEN' 'COL' 'DOM' 'NOR' 'EGY' 'BAR'
 'LIE' 'PAR' 'MNE' 'BOL' 'ECU' 'MEX' 'IRL' 'ISR' 'ALG' 'MON' 'FIN' 'VEN'
 'LIB' 'GUA' 'PER' 'INA' 'PHI' 'HKG' 'MAR' 'ZIM' 'IRI' 'SRI' 'PAK' 'MKD'
 'KGZ' 'ARM' 'PNG' 'SIN' 'BAH' 'TTO' 'GRN' 'TRI' 'CRC' 'CUB' 'OMA' 'MAS'
 'PAN' 'CMR' 'MLT' 'LBN' 'BDI' 'NGR' 'MRI' 'GAB' 'AZE' 'BRN' 'SAM' 'JAM'
 'KEN' 'GHA' 'MGL' 'JOR' 'GUD' 'REU' 'MAD' 'NAM' 'MRN' 'VIE' 'SYR' 'UNK'
 'SGP' 'UAE' 'AHO' 'BEN' 'HAI' 'ERI' 'ITF' 'COD' 'LBA' 'HON' 'TKM' 'TJK'
 'POC' 'BER' 'AND' 'SMR' 'PHL' 'ANT' 'TOG' 'GUM' 'VIN' 'BOT' 'CAM' 'ZAM'
 'KUW' 'DEU' 'SAU' 'NGA' 'BGR' 'NLD' 'LVA' 'GRC' 'CRI' 'BAN' nan]

Distinct Values in score:
 ['6-4 3-6 6-2' '7-6(6) 6-2' '6-2 6-2' ... '7-6(6) 5-7 10-6'
 '6-2 6-7(4) 10-8' '7-6(4) 2-6 10-5']

Distinct Values in round:
 ['F' 'SF' 'QF' 'R16' 'R32' 'Q1' 'Q2' 'Q3' 'R64' 'R128' 'RR' 'BR' nan]

## Missing values: default value

## Correlation

In [45]:
df_tennis.corr()

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_spectators,tourney_revenue
draw_size,1.000000,0.051022,0.270213,-0.211249,0.018759,0.199777,-0.218734,-0.007200,0.206213,0.378014,...,0.095602,0.079869,0.067465,0.093140,-0.317519,0.329775,-0.316871,0.284922,0.929342,0.842169
tourney_date,0.051022,1.000000,0.085142,0.160846,-0.013548,0.004799,0.149017,-0.005079,0.062022,-0.006724,...,-0.002783,0.026564,0.018900,0.020774,0.048650,0.022022,-0.016706,0.039919,0.066579,0.070467
match_num,0.270213,0.085142,1.000000,-0.285763,0.069320,0.162903,-0.289177,0.049183,0.177079,0.032165,...,-0.003143,-0.000268,0.002265,0.004627,-0.206575,0.127164,-0.193372,0.129871,0.271361,0.183233
winner_id,-0.211249,0.160846,-0.285763,1.000000,-0.503485,-0.495656,0.896243,-0.541209,-0.347701,-0.195736,...,-0.158258,-0.126530,0.050753,0.168187,0.383267,-0.174511,0.291999,-0.131044,-0.197485,-0.180254
winner_ht,0.018759,-0.013548,0.069320,-0.503485,1.000000,0.118012,-0.510127,0.412717,0.131299,0.133758,...,0.168725,0.144348,-0.055027,-0.181758,-0.046908,0.032934,-0.026052,0.000771,0.018208,0.021137
winner_age,0.199777,0.004799,0.162903,-0.495656,0.118012,1.000000,-0.355623,0.125827,0.235370,0.120443,...,0.047297,0.049812,0.006800,-0.012786,-0.389687,0.249021,-0.287940,0.191483,0.187513,0.169052
loser_id,-0.218734,0.149017,-0.289177,0.896243,-0.510127,-0.355623,1.000000,-0.531784,-0.504599,-0.195170,...,-0.170572,-0.144286,0.046723,0.169612,0.374293,-0.169673,0.346377,-0.151154,-0.204755,-0.186972
loser_ht,-0.007200,-0.005079,0.049183,-0.541209,0.412717,0.125827,-0.531784,1.000000,0.114431,0.128677,...,0.161488,0.162459,-0.052793,-0.169487,-0.006033,0.001513,0.001487,-0.015248,-0.007844,-0.002837
loser_age,0.206213,0.062022,0.177079,-0.347701,0.131299,0.235370,-0.504599,0.114431,1.000000,0.112163,...,0.045393,0.058043,0.002361,-0.029868,-0.341424,0.212625,-0.393909,0.243347,0.194749,0.177392
best_of,0.378014,-0.006724,0.032165,-0.195736,0.133758,0.120443,-0.195170,0.128677,0.112163,1.000000,...,0.256062,0.376298,0.135856,0.162483,-0.140153,0.253460,-0.128482,0.156920,0.344593,0.325270
minutes,0.124134,0.064791,0.002851,-0.026169,0.038335,0.044256,-0.050814,0.058441,0.056563,0.265148,...,0.584268,0.708451,0.329403,0.315691,-0.075105,0.062406,-0.133323,0.105324,0.115608,0.105067
w_ace,0.072910,-0.012399,-0.024620,-0.255186,0.472399,0.076622,-0.262999,0.196962,0.103815,0.247028,...,0.330803,0.342066,0.016461,-0.113675,-0.052245,0.070418,-0.054621,0.045433,0.061312,0.066025
w_df,0.044524,-0.006828,-0.020519,0.114304,-0.003410,-0.052941,0.101165,-0.072536,-0.015296,0.077527,...,0.311564,0.339040,0.180204,0.237483,0.008225,-0.005978,-0.026356,0.022299,0.042979,0.042385
w_svpt,0.141072,0.030361,0.004007,-0.039336,0.065516,0.031392,-0.067760,0.084979,0.051413,0.304078,...,0.718119,0.819756,0.320414,0.321075,-0.054849,0.032146,-0.134148,0.095311,0.128396,0.120571
w_1stIn,0.140386,0.043794,0.010981,-0.022155,0.046400,0.036820,-0.049040,0.082776,0.052230,0.289478,...,0.657301,0.766601,0.298760,0.300672,-0.064935,0.041964,-0.137481,0.102472,0.126552,0.118903
w_1stWon,0.147831,0.033013,-0.000645,-0.132997,0.180421,0.063483,-0.152941,0.182447,0.072404,0.352470,...,0.698125,0.779154,0.254014,0.185444,-0.065880,0.060656,-0.124538,0.096851,0.131544,0.127423
w_2ndWon,0.100522,-0.008324,-0.009208,-0.146201,0.141881,0.033313,-0.163940,0.162700,0.050180,0.279677,...,0.613043,0.635629,0.213412,0.150292,-0.016337,0.011583,-0.067915,0.039698,0.092337,0.089187
w_SvGms,0.088874,0.028430,0.002517,-0.131417,0.154261,0.049670,-0.150801,0.166634,0.063715,0.390458,...,0.689818,0.981276,0.277828,0.243997,-0.049714,0.048028,-0.109861,0.082278,0.069357,0.039812
w_bpSaved,0.060900,0.026385,0.010247,0.093650,-0.105326,-0.013131,0.070912,-0.074178,0.001818,0.081617,...,0.317991,0.365659,0.203439,0.272569,-0.024309,-0.008352,-0.084522,0.060205,0.057659,0.050804
w_bpFaced,0.072463,0.034457,0.015144,0.164339,-0.176092,-0.025446,0.137112,-0.143320,-0.007427,0.078918,...,0.367751,0.475777,0.283708,0.417385,-0.032657,-0.009244,-0.103375,0.071443,0.069694,0.059671
l_ace,0.065326,-0.009360,-0.014820,-0.243094,0.207010,0.085532,-0.252709,0.432059,0.078764,0.210261,...,0.417917,0.461508,0.073425,-0.072471,-0.032295,0.028127,-0.079631,0.078050,0.053355,0.056282
l_df,0.034330,-0.025003,-0.025771,0.100396,-0.061815,-0.027435,0.104066,0.021113,-0.058471,0.077585,...,0.270806,0.228300,0.240846,0.295263,0.044912,-0.021748,0.016833,0.007884,0.030147,0.028740
l_svpt,0.145272,0.027747,0.000822,-0.063306,0.087747,0.044752,-0.082596,0.099678,0.048193,0.334360,...,0.787650,0.834520,0.554076,0.517238,-0.060284,0.050955,-0.110605,0.080590,0.132749,0.125251
l_1stIn,0.141516,0.046446,0.005911,-0.033538,0.075303,0.042852,-0.055690,0.067237,0.055204,0.309058,...,0.577981,0.784243,0.509866,0.473767,-0.072822,0.060526,-0.120662,0.090588,0.129234,0.121863
l_1stWon,0.127078,0.034398,-0.001255,-0.142336,0.185231,0.060006,-0.168307,0.201327,0.080369,0.312342,...,0.626553,0.824717,0.406802,0.287520,-0.060397,0.048826,-0.125380,0.095841,0.114279,0.111217
l_2ndWon,0.095602,-0.002783,-0.003143,-0.158258,0.168725,0.047297,-0.170572,0.161488,0.045393,0.256062,...,1.000000,0.698934,0.357993,0.252293,-0.019884,0.010346,-0.073066,0.039519,0.086994,0.084365
l_SvGms,0.079869,0.026564,-0.000268,-0.126530,0.144348,0.049812,-0.144286,0.162459,0.058043,0.376298,...,0.698934,1.000000,0.290129,0.266486,-0.047177,0.040532,-0.107103,0.081407,0.061395,0.034382
l_bpSaved,0.067465,0.018900,0.002265,0.050753,-0.055027,0.006800,0.046723,-0.052793,0.002361,0.135856,...,0.357993,0.290129,1.000000,0.912357,-0.033373,0.033118,-0.031943,0.023503,0.064408,0.056401
l_bpFaced,0.093140,0.020774,0.004627,0.168187,-0.181758,-0.012786,0.169612,-0.169487,-0.029868,0.162483,...,0.252293,0.266486,0.912357,1.000000,-0.043869,0.044732,-0.028234,0.025185,0.088940,0.076411
winner_rank,-0.317519,0.048650,-0.206575,0.383267,-0.046908,-0.389687,0.374293,-0.006033,-0.341424,-0.140153,...,-0.019884,-0.047177,-0.033373,-0.043869,1.000000,-0.427902,0.632253,-0.380021,-0.299489,-0.269755
winner_rank_points,0.329775,0.022022,0.127164,-0.174511,0.032934,0.249021,-0.169673,0.001513,0.212625,0.253460,...,0.010346,0.040532,0.033118,0.044732,-0.427902,1.000000,-0.356457,0.487509,0.310026,0.278238
loser_rank,-0.316871,-0.016706,-0.193372,0.291999,-0.026052,-0.287940,0.346377,0.001487,-0.393909,-0.128482,...,-0.073066,-0.107103,-0.031943,-0.028234,0.632253,-0.356457,1.000000,-0.463024,-0.299129,-0.270044
loser_rank_points,0.284922,0.039919,0.129871,-0.131044,0.000771,0.191483,-0.151154,-0.015248,0.243347,0.156920,...,0.039519,0.081407,0.023503,0.025185,-0.380021,0.487509,-0.463024,1.000000,0.272129,0.244789
tourney_spectators,0.929342,0.066579,0.271361,-0.197485,0.018208,0.187513,-0.204755,-0.007844,0.194749,0.344593,...,0.086994,0.061395,0.064408,0.088940,-0.299489,0.310026,-0.299129,0.272129,1.000000,0.903204
tourney_revenue,0.842169,0.070467,0.183233,-0.180254,0.021137,0.169052,-0.186972,-0.002837,0.177392,0.325270,...,0.084365,0.034382,0.056401,0.076411,-0.269755,0.278238,-0.270044,0.244789,0.903204,1.000000

## Statistics/distributions

In [22]:
#some statistics
#df_tennis.describe()

## Test check wikipedia-iso-country-codes

In [108]:
df_countrycode = pd.read_csv(DATASET_DIR + 'wikipedia-iso-country-codes.csv', sep=',', index_col=False) 
df_countrycode.head()

  Englishshortnamelowercase Alpha2code Alpha3code  Numericcode      ISO3166-2
0               Afghanistan         AF        AFG            4  ISO 3166-2:AF
1             Åland Islands         AX        ALA          248  ISO 3166-2:AX
2                   Albania         AL        ALB            8  ISO 3166-2:AL
3                   Algeria         DZ        DZA           12  ISO 3166-2:DZ
4            American Samoa         AS        ASM           16  ISO 3166-2:AS

In [157]:
check_cc = pd.Series(~df_tennis.winner_ioc.isin(df_countrycode.Alpha3code).values, df_tennis.winner_ioc.values)
check_cc

JPN    False
RUS    False
JPN    False
FRA    False
RUS    False
       ...
NaN     True
NaN     True
NaN     True
RUS    False
AUS    False
Length: 186128, dtype: bool