In [1]:
import math
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

import collections
from scipy.stats.stats import pearsonr
import pandas as pd
import os
from datetime import date

In [2]:
# load of the data
DATASET_DIR = "dataset" + os.path.sep
df_tennis = pd.read_csv(DATASET_DIR + 'tennis_matches.csv', sep=',', index_col=0) 

#index_col=False say to not use the first column as ID
df_male = pd.read_csv(DATASET_DIR + 'male_players.csv', sep=',', index_col=False)
df_female = pd.read_csv(DATASET_DIR + 'female_players.csv', sep=',', index_col=False)

## Print some records of the datasets

In [ ]:
df_tennis.head()

In [ ]:
df_male.head()

In [ ]:
df_female.head()

## Missing values: Null

In [ ]:
#info about data that we have for male
df_male.info()

In [ ]:
#number of null in the columns
df_male.isnull().sum(axis = 0)

So, the male dataframe has 2 columns: name and surname. It has 55208 entries and about 200 null values in total.

In [ ]:
#info about data that we have for female
df_female.info()

In [ ]:
#number of null in the columns
df_female.isnull().sum(axis = 0)

So, the female dataframe has 2 columns: name and surname. It has 46172  entries and 1667 null values in the name, but the surname is never null.

In [ ]:
df_tennis.info()

In [ ]:
#we see if the attributes have some null values
df_tennis.isnull().any()

In [ ]:
#since all the attributes has missing values, we count them
df_tennis.isnull().sum(axis = 0)

We can notice that some attributes have very few null values, but other attributes has more than 50% of null values

## Duplicate data

In [ ]:
#we see if there are duplicates in the dataset male and female
df_male.duplicated(keep='first').sum()

In [ ]:
df_female.duplicated(keep='first').sum()

So, both the datasets of male and female has rows with same name and surname. These rows can be duplicates (so they correspond to the same person) or they can be homonyms. In this latter case we cannot distinguish the matches of one player by the ones of the other player.

In [ ]:
#we remove (only) the duplicated rows
df_male_no_dup = df_male.drop_duplicates()
df_female_no_dup = df_female.drop_duplicates()

In [ ]:
#see if a name can be both male and female and manage them
df_players = pd.concat([df_male_no_dup, df_female_no_dup])
df_players[df_players.duplicated(keep='first')==True]

In [ ]:
df_players.duplicated(keep='first').sum()

So, there are 74 names for both players male and female.

In [ ]:
df_players[df_players.duplicated(subset=['name', 'surname'], keep='first')==True]

In [ ]:
#check if there are duplicated rows in the dataset
df_tennis.duplicated(keep='first').sum()

## Noise, outliers and data quality (data visualization here)

### Invalid characters in names and surnames

In [ ]:
#see if all the names and surnames are valid (only letters)
df_male[df_male['surname'].str.count("[a-zA-Z '.-]")!=df_male['surname'].str.len()]

In [ ]:
df_male[df_male['name'].str.count("[a-zA-Z ',.-]")!=df_male['name'].str.len()]

In [ ]:
df_female[df_female['surname'].str.count("[a-zA-Z '.-]")!=df_female['surname'].str.len()]

In [ ]:
df_female[df_female['name'].str.count("[a-zA-Z ',.-]")!=df_female['name'].str.len()]

So, in the male and female datasets we have some invalid names and surnames because of numbers, special characters of null values.

NOTE: "40071 	Jason "Jj",Belan 	NaN" is an error because Belan is the surname but pandas has not divided the name by the surname.

### Categorical data in tennis dataset

In [3]:
df_tennis.dtypes.value_counts()

float64    35
object     14
dtype: int64

In [4]:
#Values in the columns with type object
for column in df_tennis.select_dtypes(include=['object']).columns:
    print("Distinct Values in "+str(column)+": \n", df_tennis[column].unique(), "\n")

Distinct Values in tourney_id:
 ['2019-M020' '2019-0451' '2019-0891' ... '2020-W-ITF-USA-47A-2020'
 '2020-W-ITF-USA-48A-2020' nan]

Distinct Values in tourney_name:
 ['Brisbane' 'Doha' 'Pune' ... 'W100 Nicholasville KY' 'W25 Las Vegas NV'
 nan]

Distinct Values in surface:
 ['Hard' 'Clay' 'Grass' 'Carpet' nan]

Distinct Values in tourney_level:
 ['A' 'P' 'G' 'I' 'M' 'PM' 'F' 'D' 'C' '15' '25' '60' '100' '80' '10' '50'
 '75' 'O' 'W' nan]

Distinct Values in winner_entry:
 [nan 'PR' 'Q' 'WC' 'Alt' 'LL' 'SE' 'ALT' 'SR' 'JE' 'A' 'ITF' 'P' 'I' 'IR'
 'JR']

Distinct Values in winner_name:
 ['Kei Nishikori' 'Daniil Medvedev' 'Jo-Wilfried Tsonga' ... 'Sultan Gonen'
 'Viktoria Veleva' nan]

Distinct Values in winner_hand:
 ['R' 'L' 'U' nan]

Distinct Values in winner_ioc:
 ['JPN' 'RUS' 'FRA' 'AUS' 'CAN' 'BUL' 'GBR' 'SRB' 'USA' 'LAT' 'CZE' 'EST'
 'UKR' 'NED' 'CRO' 'BLR' 'CHI' 'SUI' 'POL' 'GER' 'LUX' 'ESP' 'ITA' 'GEO'
 'HUN' 'LTU' 'ARG' 'CYP' 'BIH' 'RSA' 'BEL' 'TUN' 'IND' 'BRA' 'AUT' 'POR'
 'NZL' 'URU' 'GRE' 'SVK' 'TPE' 'KAZ' 'PUR' 'KOR' 'ROU' 'MDA' 'SLO' 'CHN'
 'SWE' 'DEN' 'TUR' 'ESA' 'BAR' 'UZB' 'MNE' 'BOL' 'NOR' 'ECU' 'MEX' 'COL'
 'LIE' 'ISR' 'PAR' 'DOM' 'FIN' 'GUA' 'PER' 'INA' 'THA' 'PHI' 'EGY' 'ALG'
 'ZIM' 'PAK' 'MAR' 'HKG' 'IRL' 'LIB' 'SRI' 'VEN' 'MKD' 'PNG' 'SIN' 'GRN'
 'BAH' 'CUB' 'TRI' 'OMA' 'MLT' 'KGZ' 'MAS' 'BDI' 'MRI' 'SAM' 'KEN' 'ARM'
 'NAM' 'REU' 'UNK' 'MON' 'HAI' 'VIE' 'HON' 'PAN' 'CRC' 'SGP' 'TJK' 'POC'
 'IRI' 'PHL' 'MGL' 'GUM' 'GAB' 'NGR' 'GUD' 'CAM' 'CMR' 'KUW' 'MAD' 'DEU'
 'AND' 'NLD' 'NGA' 'GRC' nan]

Distinct Values in loser_entry:
 [nan 'PR' 'Q' 'LL' 'WC' 'Alt' 'A' 'SE' 'ALT' 'SR' 'JE' '3' '4' '6' 'ITF'
 'I' 'P' 'J' 'IR' 'JR']

Distinct Values in loser_name:
 ['Daniil Medvedev' 'Jo-Wilfried Tsonga' 'Jeremy Chardy' ... 'Amy Huang'
 'Chloe Henderson' nan]

Distinct Values in loser_hand:
 ['R' 'L' 'U' nan]

Distinct Values in loser_ioc:
 ['RUS' 'FRA' 'AUS' 'CAN' 'JPN' 'BUL' 'GBR' 'SRB' 'USA' 'ARG' 'SLO' 'GER'
 'ESP' 'ROU' 'KAZ' 'CZE' 'BEL' 'SVK' 'NED' 'UKR' 'LAT' 'EST' 'BLR' 'CRO'
 'CHI' 'SUI' 'POL' 'LUX' 'ITA' 'GEO' 'HUN' 'LTU' 'BIH' 'QAT' 'TUR' 'AUT'
 'CYP' 'TUN' 'IND' 'KOR' 'UZB' 'MDA' 'BRA' 'POR' 'TPE' 'ESA' 'NZL' 'URU'
 'GRE' 'PUR' 'RSA' 'CHN' 'THA' 'SWE' 'DEN' 'COL' 'DOM' 'NOR' 'EGY' 'BAR'
 'LIE' 'PAR' 'MNE' 'BOL' 'ECU' 'MEX' 'IRL' 'ISR' 'ALG' 'MON' 'FIN' 'VEN'
 'LIB' 'GUA' 'PER' 'INA' 'PHI' 'HKG' 'MAR' 'ZIM' 'IRI' 'SRI' 'PAK' 'MKD'
 'KGZ' 'ARM' 'PNG' 'SIN' 'BAH' 'TTO' 'GRN' 'TRI' 'CRC' 'CUB' 'OMA' 'MAS'
 'PAN' 'CMR' 'MLT' 'LBN' 'BDI' 'NGR' 'MRI' 'GAB' 'AZE' 'BRN' 'SAM' 'JAM'
 'KEN' 'GHA' 'MGL' 'JOR' 'GUD' 'REU' 'MAD' 'NAM' 'MRN' 'VIE' 'SYR' 'UNK'
 'SGP' 'UAE' 'AHO' 'BEN' 'HAI' 'ERI' 'ITF' 'COD' 'LBA' 'HON' 'TKM' 'TJK'
 'POC' 'BER' 'AND' 'SMR' 'PHL' 'ANT' 'TOG' 'GUM' 'VIN' 'BOT' 'CAM' 'ZAM'
 'KUW' 'DEU' 'SAU' 'NGA' 'BGR' 'NLD' 'LVA' 'GRC' 'CRI' 'BAN' nan]

Distinct Values in score:
 ['6-4 3-6 6-2' '7-6(6) 6-2' '6-2 6-2' ... '7-6(6) 5-7 10-6'
 '6-2 6-7(4) 10-8' '7-6(4) 2-6 10-5']

Distinct Values in round:
 ['F' 'SF' 'QF' 'R16' 'R32' 'Q1' 'Q2' 'Q3' 'R64' 'R128' 'RR' 'BR' nan]

#### tourney_id

In [ ]:
#check that for non null values, the first 4 char are the year
#count rows whose firts 4 char are not numbers
df_tennis[df_tennis['tourney_id'].str[:4].str.isnumeric()==False].shape[0]

In [ ]:
#chech if some years are in the future (so are invalid)(ignore nulls)
df_tennis[pd.to_numeric(df_tennis['tourney_id'].str[:4]).fillna(0).astype('int') > date.today().year].shape[0]

In [ ]:
#chech if there are invalid years because to much in the past (ignore nulls)
df_tennis[pd.to_numeric(df_tennis['tourney_id'].str[:4]).fillna(date.today().year).astype('int') < 1874 ].shape[0]

So, the first 4 numbers in the tourney_id are always valid when the tourney_id id not null

In [ ]:
#chech that for each tourney there is more than one match (every id appears more than once)
df_tennis[df_tennis['tourney_id'].duplicated(keep=False)==False].shape[0]

So, every torney_id appears more than once

In [ ]:
#check how many distinct tourney are present
df_tennis["tourney_id"].value_counts().count()

In [ ]:
#count how many match are played for each tournamnet
#df_tennis.groupby(['tourney_id'])["match_num"].count()

#### tourney_name

In [ ]:
#chech that for the same tourney_id we have always the same name: USEFUL?
#len(df_tennis.groupby(['tourney_id','tourney_name']).size())-len(df_tennis.groupby(['tourney_id']).size())

#### tourney_level

In [ ]:
#there are no records for S and T1, and for E, J, T (but for these 3 they will appear (see pdf))
#there are, in the data, O and W that are not in the pdf

#eccetto questo al massimo farei un controllo come quello fatto per l'hand

#### winner_name and loser_name

In [ ]:
#check that names are valid
df_tennis[df_tennis['winner_name'].str.count("[a-zA-Z ',.-]")!=df_tennis['winner_name'].str.len()]['winner_name']

In [ ]:
df_tennis[df_tennis['loser_name'].str.count("[a-zA-Z ',.-]")!=df_tennis['loser_name'].str.len()]['loser_name']

There are invalid characters in the names of some winners and some losers

#### winner_hand and loser_hand

In [ ]:
#check that there are not indicated hand that are invalid (ignore nulls)
hand = ['R','L','U']
df_tennis[~df_tennis['winner_hand'].fillna('U').str.upper().isin(hand)].shape[0]

In [ ]:
df_tennis[~df_tennis['loser_hand'].fillna('U').str.upper().isin(hand)].shape[0]

There are not invalid entries for the hand of winner or loser

#### winner_ioc and loser_ioc

In [ ]:
df_countrycode = pd.read_csv(DATASET_DIR + 'country-codes_csv.csv', sep=',', index_col=False) 
df_countrycode.head()

In [ ]:
check_cc = pd.Series(~df_tennis.winner_ioc.isin(df_countrycode.IOC).values, df_tennis.winner_ioc.values)
type(check_cc[check_cc].index)
check_cc[check_cc].index.value_counts()

In [ ]:
#aggiungerei anche il controllo usando l'altro codice che avevi visto @reny così da farci un'idea di quanti di
#questi siano proprio sbagliati o solo nel formato sbaglito

#### score
https://www.wikihow.it/Tenere-il-Punteggio-a-Tennis

In [ ]:
#What are the numbers between the brackets ()???

In [ ]:
#una partita di tennis deve finire con almeno 2 punti di vantaggio (es 7-5, 6-4). al massimo si può controllare questo
#ma so se sia utile come info. nel caso si può anche evitare.
#sembra che quelli con le () non rispettano sta cosa.

### Numeric data in tennis dataset

In [5]:
df_tennis.select_dtypes(include=['float64']).columns
for column in df_tennis.select_dtypes(include=['float64']).columns:
    print("Distinct Values in "+str(column)+": \n", df_tennis[column].unique(), "\n")

Distinct Values in draw_size:
 [ 32. 128.  64.   8.   4.  29.  16.  30.  31.  20.  28.  23.  25.  27.
  26.  19.  10.  15.  24.  18.  12.   2.  54.  48.  nan]

Distinct Values in tourney_date:
 [20181231. 20190107. 20190114. 20190204. 20190211. 20190218. 20190225.
 20190304. 20190318. 20190408. 20190415. 20190422. 20190429. 20190506.
 20190513. 20190520. 20190527. 20190610. 20190617. 20190624. 20190701.
 20190715. 20190722. 20190729. 20190805. 20190812. 20190819. 20190826.
 20190916. 20190923. 20190930. 20191007. 20191014. 20191021. 20191028.
 20191111. 20191119. 20191121. 20191120. 20191118. 20191122. 20191124.
 20191123. 20190913. 20190914. 20190405. 20190201. 20180101. 20180108.
 20180115. 20180202. 20180203. 20180205. 20180212. 20180219. 20180226.
 20180305. 20180319. 20180406. 20180407. 20180409. 20180416. 20180423.
 20180430. 20180507. 20180514. 20180521. 20180528. 20180611. 20180618.
 20180625. 20180702. 20180716. 20180723. 20180730. 20180806. 20180813.
 20180820. 20180827. 20180914. 20180915. 20180917. 20180924. 20181001.
 20181008. 20181015. 20181022. 20181029. 20181105. 20181112. 20181123.
 20171113. 20171106. 20170904. 20171120. 20170522. 20170529. 20170911.
 20171002. 20171009. 20170213. 20170130. 20170220. 20170206. 20170227.
 20170306. 20170320. 20170327. 20171030. 20170918. 20170925. 20170807.
 20170814. 20170717. 20170710. 20170626. 20170821. 20170828. 20170605.
 20170612. 20170403. 20170724. 20171127. 20170619. 20171023. 20171204.
 20170313. 20170424. 20170410. 20170508. 20170515. 20170703. 20171016.
 20170116. 20170123. 20170417. 20170501. 20170731. 20170109. 20170102.
 20171211. 20171225. 20171218. 20161114. 20160905. 20161121. 20160502.
 20161017. 20160530. 20160704. 20160912. 20161024. 20161107. 20160919.
 20160509. 20161212. 20160201. 20160425. 20160606. 20160718. 20160801.
 20160815. 20160822. 20160829. 20160620. 20160711. 20160725. 20161205.
 20160321. 20160328. 20160404. 20160411. 20160418. 20160926. 20161003.
 20160613. 20160229. 20160307. 20160314. 20161031. 20160516. 20161010.
 20160111. 20160118. 20160125. 20160208. 20160215. 20160222. 20160627.
 20160808. 20161128. 20160523. 20161219. 20160104. 20200106. 20200113.
 20200120. 20200203. 20200210. 20200217. 20200224. 20200824. 20200831.
 20200907. 20200914. 20200921. 20200928. 20201012. 20201019. 20201026.
 20201102. 20201109. 20201116. 20200306. 20210104. 20210105. 20210201.
 20210202. 20210208. 20210222. 20210301. 20210308. 20210315. 20210322.
 20210405. 20210412. 20210419. 20210426. 20210503. 20210510. 20210517.
 20210524. 20210531. 20210607. 20210614. 20210621. 20210628. 20210712.
 20210719. 20210726. 20210724. 20210802. 20210809. 20210816. 20210823.
 20171031. 20170209. 20170210. 20170211. 20170720. 20170721. 20170719.
 20170722. 20170421. 20170422. 20171111. 20160203. 20160204. 20160205.
 20160206. 20160202. 20160412. 20160415. 20160413. 20160414. 20160416.
 20161112. 20180910. 20180402. 20180129. 20180209. 20180208. 20180207.
 20180210. 20180620. 20180621. 20180622. 20180623. 20180719. 20180720.
 20180718. 20180721. 20180206. 20180418. 20180420. 20180419. 20180421.
 20181110. 20200127. 20200302. 20200309. 20200817. 20201005. 20201123.
 20201130. 20210110. 20210117. 20210124. 20210131. 20210207. 20210214.
 20210329. 20210705. 20190909. 20190401. 20191216. 20191022. 20190128.
 20190603. 20190121. 20190208. 20190206. 20190207. 20190209. 20190418.
 20190419. 20190417. 20190420. 20190416. 20191109. 20210106. 20210203.
 20210213. 20210307. 20210429. 20210417. 20190708. 20191104. 20190902.
 20190325. 20190311. 20180326. 20180709. 20180604. 20180903. 20180122.
 20180312. 20181119. 20200803. 20200810. 20200205. 20200207. 20200206.
 20200208. 20200304. 20200303. 20200307. 20200305. 20200204. 20180605.
 20181203. 20181126. 20181210. 20181217. 20191125. 20191202. 20191209.
 20191230. 20160304. 20160715. 20160916. 20161125. 20170203. 20170217.
 20170407. 20170915. 20171124. 20210111. 20210118. 20210125. 20210215.
 20201207. 20201214. 20201221. 20201228.       nan]

Distinct Values in match_num:
 [3.000e+02 2.990e+02 2.980e+02 2.970e+02 2.960e+02 2.950e+02 2.940e+02
 2.930e+02 2.920e+02 2.910e+02 2.900e+02 2.890e+02 2.880e+02 2.870e+02
 2.860e+02 2.840e+02 2.830e+02 2.820e+02 2.800e+02 2.790e+02 2.780e+02
 2.770e+02 2.760e+02 2.750e+02 2.730e+02 2.720e+02 2.710e+02 2.740e+02
 2.810e+02 2.430e+02 2.440e+02 2.450e+02 2.460e+02 2.470e+02 2.480e+02
 2.490e+02 2.500e+02 2.510e+02 2.520e+02 2.530e+02 2.540e+02 2.270e+02
 2.280e+02 2.290e+02 2.300e+02 2.310e+02 2.320e+02 2.330e+02 2.340e+02
 2.350e+02 2.360e+02 2.370e+02 2.380e+02 2.390e+02 2.400e+02 2.410e+02
 2.420e+02 2.850e+02 2.700e+02 2.260e+02 2.170e+02 2.140e+02 1.880e+02
 2.160e+02 1.790e+02 2.200e+02 1.550e+02 2.050e+02 2.150e+02 1.980e+02
 1.560e+02 2.250e+02 2.120e+02 2.210e+02 1.270e+02 2.100e+02 2.060e+02
 2.180e+02 1.970e+02 2.220e+02 2.130e+02 1.740e+02 1.960e+02 2.040e+02
 2.110e+02 2.240e+02 1.730e+02 1.860e+02 1.510e+02 1.700e+02 1.000e+02
 1.870e+02 1.150e+02 1.840e+02 1.070e+02 1.590e+02 1.430e+02 1.850e+02
 1.110e+02 1.350e+02 1.940e+02 1.190e+02 1.460e+02 1.020e+02 1.290e+02
 1.490e+02 1.640e+02 1.630e+02 2.000e+02 2.030e+02 1.120e+02 1.180e+02
 1.540e+02 1.580e+02 1.950e+02 2.190e+02 2.230e+02 1.470e+02 2.070e+02
 1.160e+02 1.720e+02 1.480e+02 1.320e+02 1.800e+02 1.310e+02 1.710e+02
 1.990e+02 1.390e+02 1.830e+02 1.240e+02 1.760e+02 2.020e+02 1.080e+02
 1.680e+02 1.400e+02 1.670e+02 1.230e+02 1.750e+02 2.010e+02 1.930e+02
 1.520e+02 1.900e+02 2.090e+02 1.040e+02 1.660e+02 1.360e+02 1.820e+02
 1.690e+02 1.200e+02 1.030e+02 1.650e+02 1.810e+02 1.600e+02 1.280e+02
 1.780e+02 1.440e+02 1.410e+02 1.420e+02 1.610e+02 1.010e+02 1.300e+02
 1.050e+02 1.060e+02 1.090e+02 1.100e+02 1.130e+02 1.140e+02 1.170e+02
 1.210e+02 1.220e+02 1.250e+02 1.260e+02 1.330e+02 1.340e+02 1.370e+02
 1.380e+02 1.450e+02 1.500e+02 1.530e+02 1.570e+02 1.620e+02 1.770e+02
 1.890e+02 1.910e+02 1.920e+02 2.080e+02 2.690e+02 2.680e+02 2.670e+02
 2.660e+02 2.650e+02 2.640e+02 2.630e+02 2.620e+02 2.610e+02 2.600e+02
 2.590e+02 2.580e+02 2.570e+02 2.560e+02 2.550e+02 1.101e+03 1.102e+03
 1.103e+03 1.104e+03 1.105e+03 1.106e+03 1.107e+03 1.108e+03 1.109e+03
 1.110e+03 1.111e+03 1.112e+03 1.113e+03 1.114e+03 1.115e+03 1.116e+03
 1.117e+03 1.118e+03 1.119e+03 1.120e+03 1.121e+03 1.122e+03 1.123e+03
 1.124e+03 1.125e+03 1.126e+03 1.127e+03 1.128e+03 1.129e+03 1.130e+03
 1.131e+03 1.132e+03 1.133e+03 1.134e+03 1.135e+03 1.136e+03 1.137e+03
 1.138e+03 1.139e+03 1.140e+03 1.141e+03 1.142e+03 1.143e+03 1.144e+03
 1.145e+03 1.146e+03 1.147e+03 1.148e+03 1.149e+03 1.150e+03 1.151e+03
 1.152e+03 1.153e+03 1.154e+03 1.155e+03 1.156e+03 1.157e+03 1.158e+03
 1.159e+03 1.160e+03 1.161e+03 1.162e+03 1.163e+03 1.164e+03 1.201e+03
 1.202e+03 1.203e+03 1.204e+03 1.205e+03 1.206e+03 1.207e+03 1.208e+03
 1.209e+03 1.210e+03 1.211e+03 1.212e+03 1.213e+03 1.214e+03 1.215e+03
 1.216e+03 1.217e+03 1.218e+03 1.219e+03 1.220e+03 1.221e+03 1.222e+03
 1.223e+03 1.224e+03 1.225e+03 1.226e+03 1.227e+03 1.228e+03 1.229e+03
 1.230e+03 1.231e+03 1.232e+03 1.301e+03 1.302e+03 1.303e+03 1.304e+03
 1.305e+03 1.306e+03 1.307e+03 1.308e+03 1.309e+03 1.310e+03 1.311e+03
 1.312e+03 1.313e+03 1.314e+03 1.315e+03 1.316e+03 1.401e+03 1.402e+03
 1.403e+03 1.404e+03 1.405e+03 1.406e+03 1.407e+03 1.408e+03 1.501e+03
 1.502e+03 1.503e+03 1.504e+03 1.601e+03 1.602e+03 1.701e+03 2.101e+03
 2.102e+03 2.103e+03 2.104e+03 2.105e+03 2.106e+03 2.107e+03 2.108e+03
 2.109e+03 2.110e+03 2.111e+03 2.112e+03 2.113e+03 2.114e+03 2.115e+03
 2.116e+03 2.117e+03 2.118e+03 2.119e+03 2.120e+03 2.121e+03 2.122e+03
 2.123e+03 2.124e+03 2.125e+03 2.126e+03 2.127e+03 2.128e+03 2.129e+03
 2.130e+03 2.131e+03 2.132e+03 2.133e+03 2.134e+03 2.135e+03 2.136e+03
 2.137e+03 2.138e+03 2.139e+03 2.140e+03 2.141e+03 2.142e+03 2.143e+03
 2.144e+03 2.145e+03 2.146e+03 2.147e+03 2.148e+03 2.149e+03 2.150e+03
 2.151e+03 2.152e+03 2.153e+03 2.154e+03 2.155e+03 2.156e+03 2.157e+03
 2.158e+03 2.159e+03 2.160e+03 2.161e+03 2.162e+03 2.163e+03 2.164e+03
 2.201e+03 2.202e+03 2.203e+03 2.204e+03 2.205e+03 2.206e+03 2.207e+03
 2.208e+03 2.209e+03 2.210e+03 2.211e+03 2.212e+03 2.213e+03 2.214e+03
 2.215e+03 2.216e+03 2.217e+03 2.218e+03 2.219e+03 2.220e+03 2.221e+03
 2.222e+03 2.223e+03 2.224e+03 2.225e+03 2.226e+03 2.227e+03 2.228e+03
 2.229e+03 2.230e+03 2.231e+03 2.232e+03 2.301e+03 2.302e+03 2.303e+03
 2.304e+03 2.305e+03 2.306e+03 2.307e+03 2.308e+03 2.309e+03 2.310e+03
 2.311e+03 2.312e+03 2.313e+03 2.314e+03 2.315e+03 2.316e+03 2.401e+03
 2.402e+03 2.403e+03 2.404e+03 2.405e+03 2.406e+03 2.407e+03 2.408e+03
 2.501e+03 2.502e+03 2.503e+03 2.504e+03 2.601e+03 2.602e+03 2.701e+03
 7.101e+03 7.102e+03 7.103e+03 7.104e+03 7.105e+03 7.106e+03 7.107e+03
 7.108e+03 7.109e+03 7.110e+03 7.111e+03 7.112e+03 7.113e+03 7.114e+03
 7.115e+03 7.116e+03 7.117e+03 7.118e+03 7.119e+03 7.120e+03 7.121e+03
 7.122e+03 7.123e+03 7.124e+03 7.125e+03 7.126e+03 7.127e+03 7.128e+03
 7.129e+03 7.130e+03 7.131e+03 7.132e+03 7.133e+03 7.134e+03 7.135e+03
 7.136e+03 7.137e+03 7.138e+03 7.139e+03 7.140e+03 7.141e+03 7.142e+03
 7.143e+03 7.144e+03 7.145e+03 7.146e+03 7.147e+03 7.148e+03 7.149e+03
 7.150e+03 7.151e+03 7.152e+03 7.153e+03 7.154e+03 7.155e+03 7.156e+03
 7.157e+03 7.158e+03 7.159e+03 7.160e+03 7.161e+03 7.162e+03 7.163e+03
 7.164e+03 7.201e+03 7.202e+03 7.203e+03 7.204e+03 7.205e+03 7.206e+03
 7.207e+03 7.208e+03 7.209e+03 7.210e+03 7.211e+03 7.212e+03 7.213e+03
 7.214e+03 7.215e+03 7.216e+03 7.217e+03 7.218e+03 7.219e+03 7.220e+03
 7.221e+03 7.222e+03 7.223e+03 7.224e+03 7.225e+03 7.226e+03 7.227e+03
 7.228e+03 7.229e+03 7.230e+03 7.231e+03 7.232e+03 7.301e+03 7.302e+03
 7.303e+03 7.304e+03 7.305e+03 7.306e+03 7.307e+03 7.308e+03 7.309e+03
 7.310e+03 7.311e+03 7.312e+03 7.313e+03 7.314e+03 7.315e+03 7.316e+03
 8.101e+03 8.102e+03 8.103e+03 8.104e+03 8.105e+03 8.106e+03 8.107e+03
 8.108e+03 8.109e+03 8.110e+03 8.111e+03 8.112e+03 8.113e+03 8.114e+03
 8.115e+03 8.116e+03 8.117e+03 8.118e+03 8.119e+03 8.120e+03 8.121e+03
 8.122e+03 8.123e+03 8.124e+03 8.125e+03 8.126e+03 8.127e+03 8.128e+03
 8.129e+03 8.130e+03 8.131e+03 8.132e+03 8.133e+03 8.134e+03 8.135e+03
 8.136e+03 8.137e+03 8.138e+03 8.139e+03 8.140e+03 8.141e+03 8.142e+03
 8.143e+03 8.144e+03 8.145e+03 8.146e+03 8.147e+03 8.148e+03 8.201e+03
 8.202e+03 8.203e+03 8.204e+03 8.205e+03 8.206e+03 8.207e+03 8.208e+03
 8.209e+03 8.210e+03 8.211e+03 8.212e+03 8.213e+03 8.214e+03 8.215e+03
 8.216e+03 8.217e+03 8.218e+03 8.219e+03 8.220e+03 8.221e+03 8.222e+03
 8.223e+03 8.224e+03 8.301e+03 8.302e+03 8.303e+03 8.304e+03 8.305e+03
 8.306e+03 8.307e+03 8.308e+03 8.309e+03 8.310e+03 8.311e+03 8.312e+03
 1.000e+00 2.000e+00 4.000e+00 5.000e+00 3.010e+02 3.020e+02 3.030e+02
 3.040e+02 3.050e+02 3.060e+02 3.070e+02 3.080e+02 3.090e+02 3.100e+02
 3.110e+02 3.120e+02 3.130e+02 3.140e+02 3.150e+02 3.160e+02 4.010e+02
 4.020e+02 4.030e+02 4.040e+02 4.050e+02 4.060e+02 4.070e+02 4.080e+02
 5.010e+02 5.020e+02 5.030e+02 5.040e+02 6.010e+02 6.020e+02 7.010e+02
 7.310e+02 7.320e+02 7.330e+02 7.340e+02 7.350e+02 7.360e+02 7.370e+02
 7.380e+02 7.390e+02 7.400e+02 7.410e+02 7.420e+02 7.430e+02 7.440e+02
 7.450e+02 7.460e+02 7.470e+02 7.480e+02 7.490e+02 7.500e+02 7.510e+02
 7.520e+02 7.530e+02 7.540e+02 7.550e+02 7.560e+02 7.570e+02 7.580e+02
 7.590e+02 7.600e+02 7.610e+02 7.620e+02 7.630e+02 7.640e+02 7.650e+02
 7.660e+02 7.670e+02 7.680e+02 7.690e+02 7.700e+02 7.710e+02 7.720e+02
 7.730e+02 7.740e+02 7.750e+02 7.760e+02 7.770e+02 7.780e+02 7.790e+02
 7.800e+02 7.810e+02 7.820e+02 7.830e+02 7.840e+02 7.850e+02 7.860e+02
 7.870e+02 7.880e+02 7.890e+02 7.900e+02 7.910e+02 7.920e+02 7.930e+02
 7.940e+02 8.310e+02 8.320e+02 8.330e+02 8.340e+02 8.350e+02 8.360e+02
 8.370e+02 8.380e+02 8.390e+02 8.400e+02 8.410e+02 8.420e+02 8.430e+02
 8.440e+02 8.450e+02 8.460e+02 8.470e+02 8.480e+02 8.490e+02 8.500e+02
 8.510e+02 8.520e+02 8.530e+02 8.540e+02 8.550e+02 8.560e+02 8.570e+02
 8.580e+02 8.590e+02 8.600e+02 8.610e+02 8.620e+02 9.310e+02 9.320e+02
 9.330e+02 9.340e+02 9.350e+02 9.360e+02 9.370e+02 9.380e+02 9.390e+02
 9.400e+02 9.410e+02 9.420e+02 9.430e+02 9.440e+02 9.450e+02 9.460e+02
 8.000e+02 8.010e+02 8.020e+02 8.030e+02 8.040e+02 8.050e+02 8.060e+02
 8.070e+02 8.080e+02 8.090e+02 8.100e+02 8.110e+02 8.120e+02 8.130e+02
 8.140e+02 8.150e+02 8.160e+02 8.170e+02 8.180e+02 8.190e+02 8.200e+02
 8.210e+02 8.220e+02 8.230e+02 8.240e+02 8.250e+02 8.260e+02 8.270e+02
 8.280e+02 8.290e+02 8.300e+02 8.630e+02 8.640e+02 8.650e+02 8.660e+02
 8.670e+02 8.680e+02 8.690e+02 8.700e+02 8.710e+02 8.720e+02 8.730e+02
 8.740e+02 8.750e+02 8.760e+02 8.770e+02 8.780e+02 8.790e+02 8.800e+02
 8.810e+02 8.820e+02 8.830e+02 8.840e+02 8.850e+02 8.860e+02 8.870e+02
 8.880e+02 8.890e+02 8.900e+02 8.910e+02 8.920e+02 8.930e+02 8.940e+02
 8.950e+02 8.960e+02 8.970e+02 8.980e+02 8.990e+02 9.000e+02 9.010e+02
 9.020e+02 9.030e+02 9.040e+02 9.050e+02 9.060e+02 9.070e+02 9.080e+02
 9.090e+02 9.100e+02 9.110e+02 3.000e+00 6.000e+00 7.000e+00 8.000e+00
 9.000e+00 1.000e+01 1.100e+01 1.200e+01 1.300e+01 1.400e+01 1.500e+01
 1.600e+01 1.700e+01 1.800e+01 1.900e+01 2.000e+01 2.100e+01 2.200e+01
 2.300e+01 2.400e+01 2.500e+01 2.600e+01 2.700e+01 2.800e+01 2.900e+01
 3.000e+01 3.100e+01 3.170e+02 3.180e+02 3.190e+02 3.200e+01 3.300e+01
 3.400e+01 3.500e+01 3.600e+01 3.700e+01 3.800e+01 3.900e+01 4.000e+01
 4.100e+01 4.200e+01 6.200e+01 5.400e+01 5.800e+01 5.700e+01 6.100e+01
 5.300e+01 5.000e+01 4.600e+01 4.500e+01 4.900e+01       nan]

Distinct Values in winner_id:
 [105453. 106421. 104542. ... 203535. 225861.     nan]

Distinct Values in winner_ht:
 [178. 198. 188. 183. 196.  nan 190. 193. 180. 174. 184. 182. 185. 177.
 175. 170. 203. 208. 211. 168. 169. 172. 163. 179. 166. 173. 162. 176.
 181. 191. 159. 155. 206. 164. 157. 171. 165. 167. 161. 189. 194.   2.
 160. 145.]

Distinct Values in winner_age:
 [95.         22.88569473 29.00479124 ... 15.29089665 15.4880219
 33.51403149]

Distinct Values in loser_id:
 [106421. 104542. 104871. ... 223217. 223451.     nan]

Distinct Values in loser_ht:
 [198. 188. 183. 196.  nan 190. 193. 180. 181. 170. 184. 166. 178. 162.
 163. 172. 174. 179. 182. 211. 185. 155. 165. 177. 175. 208. 206. 161.
 168. 169. 173. 171. 164. 203. 176. 159. 167. 191. 189. 157.   2. 194.
 160. 145.]

Distinct Values in loser_age:
 [22.88569473 33.70568104 31.88227242 ... 41.46201232 46.85284052
 14.14921287]

Distinct Values in best_of:
 [ 3.  5. nan]

Distinct Values in minutes:
 [1.240e+02 8.200e+01 6.600e+01 1.060e+02 1.290e+02 1.270e+02 1.000e+02
 8.000e+01 8.100e+01 9.900e+01 9.300e+01 8.800e+01 7.900e+01 1.020e+02
 7.700e+01 6.000e+01 6.100e+01 4.700e+01 1.280e+02 9.000e+01 1.530e+02
 1.440e+02 1.080e+02 1.200e+02 8.300e+01 1.810e+02 5.200e+01 5.700e+01
 1.860e+02 1.370e+02 1.320e+02 1.120e+02 1.490e+02 9.400e+01 6.800e+01
 5.600e+01 9.800e+01 8.600e+01 1.050e+02 1.420e+02 1.070e+02 9.100e+01
 6.500e+01 1.570e+02 5.500e+01 1.190e+02 1.090e+02 6.300e+01 7.400e+01
       nan 6.400e+01 1.460e+02 4.200e+01 1.110e+02 8.500e+01 1.140e+02
 1.150e+02 1.550e+02 8.900e+01 1.160e+02 7.300e+01 7.100e+01 7.000e+01
 1.310e+02 1.330e+02 7.200e+01 7.500e+01 1.580e+02 6.900e+01 1.380e+02
 9.500e+01 9.200e+01 4.100e+01 1.640e+02 1.390e+02 7.600e+01 1.510e+02
 1.890e+02 1.660e+02 1.030e+02 8.700e+01 1.170e+02 1.500e+02 1.340e+02
 1.100e+02 1.010e+02 5.400e+01 1.210e+02 7.800e+01 1.790e+02 1.900e+01
 1.400e+02 6.200e+01 4.900e+01 1.130e+02 1.250e+02 1.620e+02 1.610e+02
 1.590e+02 5.100e+01 1.690e+02 0.000e+00 1.230e+02 9.600e+01 1.180e+02
 1.670e+02 1.600e+02 1.900e+02 6.700e+01 1.360e+02 1.800e+01 4.500e+01
 2.250e+02 2.380e+02 1.040e+02 1.780e+02 1.950e+02 1.820e+02 1.800e+02
 1.740e+02 2.190e+02 3.050e+02 2.580e+02 2.440e+02 2.040e+02 1.410e+02
 1.680e+02 2.270e+02 2.320e+02 1.350e+02 2.230e+02 1.840e+02 1.830e+02
 2.260e+02 1.730e+02 2.170e+02 2.220e+02 2.280e+02 1.260e+02 1.220e+02
 1.630e+02 1.430e+02 1.770e+02 2.410e+02 2.300e+02 2.490e+02 1.480e+02
 2.020e+02 1.540e+02 1.920e+02 1.930e+02 1.750e+02 1.720e+02 2.120e+02
 1.970e+02 8.400e+01 5.900e+01 1.300e+02 1.710e+02 5.300e+01 5.800e+01
 1.450e+02 1.650e+02 1.520e+02 1.470e+02 4.800e+01 1.560e+02 9.700e+01
 1.910e+02 1.940e+02 4.600e+01 1.990e+02 1.850e+02 2.900e+01 3.000e+01
 3.100e+01 1.880e+02 2.700e+01 3.700e+01 2.080e+02 5.100e+02 1.760e+02
 1.700e+02 4.400e+01 5.000e+01 1.960e+02 3.400e+01 2.030e+02 3.900e+01
 2.480e+02 2.420e+02 2.050e+02 2.240e+02 1.980e+02 2.210e+02 2.340e+02
 2.470e+02 2.550e+02 2.630e+02 1.870e+02 2.730e+02 2.620e+02 2.140e+02
 2.070e+02 2.660e+02 3.090e+02 2.350e+02 2.150e+02 2.530e+02 2.100e+01
 3.500e+01 4.300e+01 4.000e+01 2.000e+02 2.600e+01 2.360e+02 2.060e+02
 2.180e+02 2.010e+02 2.110e+02 2.590e+02 2.970e+02 2.160e+02 3.600e+01
 9.000e+00 2.600e+02 2.560e+02 2.200e+02 2.130e+02 2.610e+02 2.310e+02
 2.880e+02 2.430e+02 2.370e+02 2.900e+02 1.600e+01 3.300e+01 1.100e+01
 2.000e+01 2.300e+01 3.200e+01 2.390e+02 2.090e+02 1.500e+01 3.560e+02
 2.910e+02 3.800e+01 2.800e+01 2.100e+02 2.640e+02 2.540e+02 3.960e+02
 3.150e+02 1.700e+01 2.200e+01 2.400e+02 2.890e+02 2.510e+02 2.460e+02
 2.500e+01 1.400e+01 1.200e+01 2.400e+01 2.750e+02 1.300e+01 5.000e+00
 1.211e+03 2.670e+02 2.330e+02 2.570e+02 2.740e+02 2.950e+02 2.500e+02
 3.140e+02 2.450e+02 2.960e+02 1.094e+03 8.140e+02 2.720e+02 2.710e+02
 2.870e+02 2.940e+02 2.810e+02 2.830e+02 1.146e+03 1.531e+03 6.000e+00
 8.000e+00 2.290e+02 2.790e+02 2.760e+02 3.650e+02 3.000e+02 3.080e+02
 7.000e+00 2.520e+02 7.400e+02 1.000e+01 1.266e+03 2.680e+02 3.020e+02
 4.000e+00 1.237e+03 3.060e+02 3.010e+02 1.392e+03 9.870e+02 4.160e+02
 3.370e+02 2.980e+02 5.630e+02 1.507e+03 2.475e+03 3.610e+02 3.890e+02
 1.000e+00 1.241e+03 4.756e+03 2.000e+00 3.000e+00 3.440e+02 3.070e+02
 2.930e+02 2.700e+02]

Distinct Values in w_ace:
 [ 3. 10.  2. 12.  5. 11.  1. 16. 21. 17. 15.  6.  7. 18. 44.  9.  8.  4.
  0. 14. 13. nan 33. 25. 20. 22. 26. 40. 19. 28. 29. 24. 30. 39. 23. 43.
 27. 32. 38. 35. 31. 48. 53. 36. 42. 34. 64. 37. 49. 45. 75. 41. 51. 61.
 46. 72. 52.]

Distinct Values in w_df:
 [  3.   1.   2.   8.   5.   0.   4.   6.   7.   9.  nan  10.  14.  12.
  11.  13.  18.  19.  15.  26.  17.  25.  16.  20.  21.  22.  23.  24.
 114.  72.  28.  45.]

Distinct Values in w_svpt:
 [7.700e+01 5.200e+01 4.700e+01 6.800e+01 1.050e+02 9.400e+01 5.900e+01
 6.400e+01 4.900e+01 5.400e+01 6.200e+01 8.400e+01 7.500e+01 6.300e+01
 5.600e+01 7.600e+01 4.200e+01 4.300e+01 6.600e+01 4.500e+01 3.800e+01
 1.190e+02 8.700e+01 5.800e+01 9.800e+01 1.170e+02 9.300e+01 8.600e+01
 4.800e+01 4.000e+01 1.140e+02 9.100e+01 7.400e+01 9.700e+01 7.900e+01
 6.500e+01 7.200e+01 6.900e+01 7.800e+01 7.300e+01 6.100e+01 8.900e+01
 1.100e+02 5.300e+01 1.020e+02 9.500e+01 4.100e+01 1.090e+02 4.400e+01
 8.200e+01 9.900e+01 9.600e+01 6.700e+01 1.120e+02 3.300e+01 9.000e+01
 3.200e+01 1.340e+02 8.500e+01 8.800e+01 7.000e+01 6.000e+01 1.000e+02
       nan 1.240e+02 5.100e+01 1.040e+02 8.000e+01 9.200e+01 1.030e+02
 8.300e+01 8.100e+01 1.070e+02 1.310e+02 1.430e+02 5.500e+01 7.100e+01
 3.900e+01 1.330e+02 1.250e+02 8.000e+00 1.260e+02 5.700e+01 1.110e+02
 2.600e+01 1.060e+02 1.010e+02 1.390e+02 1.800e+01 1.880e+02 1.540e+02
 2.900e+01 1.510e+02 1.350e+02 1.220e+02 1.300e+02 1.900e+02 1.290e+02
 2.070e+02 1.530e+02 1.520e+02 1.770e+02 1.080e+02 1.810e+02 1.450e+02
 1.370e+02 1.560e+02 1.720e+02 1.710e+02 1.420e+02 1.670e+02 1.790e+02
 1.580e+02 1.280e+02 1.760e+02 1.470e+02 1.480e+02 1.410e+02 1.270e+02
 1.160e+02 1.360e+02 1.870e+02 1.150e+02 1.660e+02 1.380e+02 4.600e+01
 1.180e+02 5.000e+01 3.600e+01 3.500e+01 3.700e+01 1.130e+02 1.200e+02
 3.400e+01 1.500e+01 2.000e+01 2.400e+01 2.300e+01 3.000e+01 2.500e+01
 1.230e+02 1.210e+02 1.320e+02 1.400e+01 0.000e+00 2.800e+01 1.650e+02
 1.700e+02 1.630e+02 1.590e+02 1.550e+02 1.830e+02 1.970e+02 2.010e+02
 2.060e+02 1.820e+02 1.490e+02 1.200e+01 1.740e+02 1.460e+02 1.600e+02
 1.620e+02 1.690e+02 1.570e+02 1.750e+02 1.400e+02 1.680e+02 2.190e+02
 1.500e+02 1.730e+02 1.610e+02 3.100e+01 5.000e+00 1.900e+01 1.640e+02

#### draw_size

In [15]:
#count the row with an invalid number (negative or less than 2)
df_tennis[df_tennis['draw_size'] < 2].shape[0]

0

All the numbers are valid (we consider only the numbers and not the nulls)

**tourney_date**

In [ ]:
#the date are in float so they need to be converted in date object 
df_tennis['tourney_date'].isnull().sum()

In [ ]:
#check if there are present data greater then today
import datetime
df_tennis['tourney_date'] = pd.to_datetime(df_tennis['tourney_date'], format='%Y%m%d')
invalid_data = 0
today = pd.to_datetime(datetime.date.today())
for date in df_tennis['tourney_date']:
    if date > today:
        invalid_data +=1
print(invalid_data)

There aren't invalid dates

#### match_num

#### winner_id and loser_id

#### winner_ht and loser_ht

#### winner_age and loser_age

#### w_df

**best_of**

In [ ]:
#check if there are different values form 3 or 5
df_tennis['best_of'].value_counts(dropna = False)

There are not different values from 3 and 5, a part for some null values.

#### minutes

#### w_ace, w_df and w_svpt

#### w_1stIn

#### w_1stWon and w_2ndWon

#### w_SvGms,  w_bpSaved and w_bpFaced

#### l_ace, l_df and l_svpt

#### l_1stIn

## Missing values: default value

## Correlation

In [ ]:
df_numeric = df_tennis[df_tennis.select_dtypes(include=['float64']).columns]

In [ ]:
df_numeric.corr()

inserire ragionamento sulla correlation

## Statistics/distributions

In [ ]:
#some statistics
#df_tennis.describe()all