In [4]:
import math
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

from collections import defaultdict
from scipy.stats.stats import pearsonr
import pandas as pd

In [11]:
#load of the data
df_tennis = pd.read_csv('dataset\tennis_matches.csv', sep=',', index_col=0) 

#index_col=False say to not use the first column as ID
df_male = pd.read_csv('dataset\male_players.csv', sep=',', index_col=False)
df_female = pd.read_csv('dataset\female_players.csv', sep=',', index_col=False)

OSError: [Errno 22] Invalid argument: 'dataset\tennis_matches.csv'

In [9]:
df_tennis.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_entry,winner_name,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_spectators,tourney_revenue
186123,NaN,NaN,Hard,32.0,NaN,20171113.0,250.0,NaN,NaN,NaN,...,NaN,NaN,7.0,11.0,NaN,322.0,280.0,183.0,NaN,NaN
186124,NaN,Taipei,NaN,32.0,C,20171113.0,NaN,NaN,NaN,Veronika Kudermetova,...,NaN,NaN,NaN,NaN,255.0,217.0,704.0,NaN,NaN,NaN
186125,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,Dalila Jakupovic,...,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
186126,NaN,NaN,NaN,32.0,C,20171113.0,NaN,NaN,NaN,Vitalia Diatchenko,...,13.0,NaN,3.0,NaN,176.0,NaN,NaN,NaN,3535.0,NaN
186127,NaN,Taipei,Hard,32.0,C,20171113.0,NaN,NaN,NaN,Priscilla Hon,...,9.0,10.0,4.0,8.0,NaN,NaN,181.0,322.0,3535.0,638954.72